---
import Layout from '../layouts/Layout.astro'
import profilePic from '../images/profile-pic.png'
import project1Img from '../images/project1.png'
import project2Img from '../images/project2.png'
import ProjectPreview from '../components/ProjectPreview.astro'
import Header from '../layouts/Header.astro'

const project1 = {
  title: '01 Skinique',
  description: 'An application for create a skincare routine as unique as you.',
  imgSrc: project1Img,
  alt: 'Project 1',
  slug: 'skinique',
}

const project2 = {
  title: '02 Skinique',
  description:
    'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit lorem nibh, at egestas felis pretium sed.',
  imgSrc: project2Img,
  alt: 'Project 2',
}
---

<Layout title="Kasira's Protfolio">
  <Header />
  <main>
    <section
      class='flex justify-center max-sm:flex-col-reverse max-sm:flex-wrap gap-4 bg-rainbow1 bg-no-repeat bg-transparent w-3/5 max-sm:w-auto mx-auto'
    >
      <div
        class='basis-[580px] max-sm:basis-[531px] h-[435px] flex flex-col grow-0 shrink-0'
      >
        <h1 class='text-8xl leading-79 font-blackgold max-sm:text-center'>
          Hello <br /> I am Kasira
        </h1>
        <div class='grid grid-cols-3 grow'>
          <div
            class='bg-star bg-no-repeat bg-transparent bg-top-center col-span-1'
          >
          </div>
          <p class='col-span-2 mt-5 text-xl'>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            blandit lorem nibh, at egestas felis pretium sed.
          </p>
        </div>
      </div>

      <aside class='max-sm:mx-auto'>
        <p
          class='text-xl uppercase text-center tracking-widest mb-2 max-sm:hidden'
        >
          Portfolio
        </p>
        <figure
          class='w-[230px] h-[300px] box-border rounded-[104px] flex place-content-center p-4 bg-frame bg-transparent bg-center bg-no-repeat'
        >
          <img src={profilePic} alt='Profile picture.' />
        </figure>
      </aside>
    </section>

    <section
      id='projects'
      class='relative -top-6 bg-rainbow3 bg-no-repeat bg-transparent bg-right-bottom'
    >
      <div class='flex items-center'>
        <hr class='grow border border-black border-l-0 border-r-0 border-b-0' />
        <h2 class='text-5xl uppercase font-blackgold px-7'>Projects</h2>
        <hr class='grow border border-black border-l-0 border-r-0 border-b-0' />
      </div>

      <ProjectPreview
        className='bg-rainbow2 bg-no-repeat bg-transparent bg-contain bg-left-top'
        title={project1.title}
        description={project1.description}
        imgSrc={project1.imgSrc}
        alt={project1.alt}
        slug={project1.slug}
      />
      <ProjectPreview
        reverse
        title={project2.title}
        description={project2.description}
        imgSrc={project2.imgSrc}
        alt={project2.alt}
        slug=''
      />
    </section>

    <section
      id='contact'
      class='mt-20 w-full float-right bg-rainbow4 bg-no-repeat bg-transparent bg-left-bottom'
    >
      <div class='flex items-center pl-20'>
        <h2 class='text-5xl font-blackgold uppercase mx-7 max-sm:mx-3'>
          Contact
        </h2>
        <hr class='grow border border-black border-l-0 border-r-0 border-b-0' />
      </div>

      <div class='flex flex-wrap justify-center mt-11 gap-48'>
        <div
          class='arch-container border border-black bg-arch bg-no-repeat bg-transparent bg-bottom-center'
        >
        </div>

        <div class='my-auto'>
          <div class='flex flex-col gap-2'>
            <h3 class='font-blackgold text-4xl uppercase'>Email address</h3>
            <p class='text-xl'>kasira.jtwk@gmail.com</p>
          </div>

          <div class='flex flex-col gap-2 mt-12'>
            <h3 class='font-blackgold text-4xl uppercase'>Phone number</h3>
            <p class='text-xl'>(+66) 94 169 6654</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <style>
    .arch-container {
      width: 357px;
      height: 361px;
      border-radius: 172px 172px 0px 0px;
      padding: 48px 58px 0px 58px;
    }
  </style>
</Layout>
