---
import process1 from '../images/process-1.png'
import process2 from '../images/process-2.png'
import process3 from '../images/process-3.png'
import process4 from '../images/process-4.png'
import process5 from '../images/process-5.png'
import DesignProcessCard from './DesignProcessCard.astro'
import Stepper from './Stepper.astro'

export interface Props {}
---

<div class='mt-14'>
  <div class='grid grid-cols-5 gap-x-2 gap-y-10'>
    <figure class='m-auto'>
      <img src={process1} alt='Process 1 Illustrator' class='h-16' />
    </figure>
    <figure class='m-auto'>
      <img src={process2} alt='Process 2 Illustrator' class='h-16' />
    </figure>
    <figure class='m-auto'>
      <img src={process3} alt='Process 3 Illustrator' class='h-16' />
    </figure>
    <figure class='m-auto'>
      <img src={process4} alt='Process 4 Illustrator' class='h-16' />
    </figure>
    <figure class='m-auto'>
      <img src={process5} alt='Process 5 Illustrator' class='h-16' />
    </figure>

    <Stepper />

    <DesignProcessCard step='01' title='Emphatize' className='bg-purple-100'>
      <ul slot='caption'>
        <li>User Interview</li>
        <li>User Map</li>
      </ul>
    </DesignProcessCard>
    <DesignProcessCard step='02' title='Define' className='bg-purple-200'>
      <ul slot='caption'>
        <li>User Persona</li>
        <li>User JourneyMap</li>
      </ul>
    </DesignProcessCard>
    <DesignProcessCard step='03' title='Ideate' className='bg-purple-300'>
      <span slot='caption'>User Flow</span>
    </DesignProcessCard>
    <DesignProcessCard step='04' title='Prototype' className='bg-purple-400'>
      <span slot='caption'>Wireframe</span>
    </DesignProcessCard>
    <DesignProcessCard step='05' title='Design' className='bg-purple-500'>
      <span slot='caption'>Desing System</span>
    </DesignProcessCard>
  </div>
</div>
