---
import clsx from 'clsx'

export interface Props {
  imgSrc: string
  alt: string
  reverse?: boolean
  title: string
  description: string
  className?: string
  slug: string
}

const { className, imgSrc, alt, title, description, reverse, slug } =
  Astro.props
---

<article
  class={clsx(
    'flex max-sm:flex-wrap justify-center items-center gap-28 max-sm:gap-4 pt-28',
    className,
    reverse && 'flex-row-reverse'
  )}
>
  <figure
    class='border border-black basis-[357px] h-[267px] p-2 hover:border-4 hover:border-fuchsia-200'
  >
    <a href={`/projects/${slug}`}>
      <img src={imgSrc} alt={alt} />
    </a>
  </figure>
  <article class='basis-[246px]'>
    <h3
      class='text-4xl mb-7 hover:underline-offset-2 hover:underline hover:decoration-fuchsia-400'
    >
      <a href={`/projects/${slug}`}>
        {title}
      </a>
    </h3>
    <p class='max-sm:text-center'>{description}</p>
  </article>
</article>

<style>
  h3 {
    font-family: 'BlackGold', sans-serif;
  }
</style>
