---
import skiniqueLogo from '../../images/skinique-logo.png'
import Layout from '../../layouts/Layout.astro'
import roleIllustrator from '../../images/role-illus.svg'
import projectTimeIllustrator from '../../images/project-time-illus.svg'
import toolsUsedIllustrator from '../../images/tools-used-illus.svg'
import painPoint1 from '../../images/pain-point-1.png'
import painPoint2 from '../../images/pain-point-2.png'
import painPoint3 from '../../images/pain-point-3.png'
import painPoint4 from '../../images/pain-point-4.png'
import PainPointCard from '../../components/PainPointCard.astro'
import DesignProcessCard from '../../components/DesignProcessCard.astro'
import process1 from '../../images/process-1.png'
import process2 from '../../images/process-2.png'
import process3 from '../../images/process-3.png'
import process4 from '../../images/process-4.png'
import process5 from '../../images/process-5.png'
import Stepper from '../../components/Stepper.astro'
import InterviewTable from '../../components/InterviewTable.astro'
---

<Layout title='Skinique - Project'>
  <section
    class='h-screen box-border w-full bg-purple-100 pt-10 px-14 grid grid-cols-4'
  >
    <div class='flex flex-col text-orange col-span-2'>
      <img class='h-[108px] w-[108px]' src={skiniqueLogo} alt='Skinique logo' />
      <div class='mt-auto mb-20'>
        <h1 class='text-[128px] font-arima capitalize'>Skinique</h1>
        <p class='text-3xl'>Create a skincare routine as unique as you.</p>
      </div>
    </div>
    <div
      class='col-span-2 bg-iphoneMockup bg-transparent bg-no-repeat bg-contain bg-bottom'
    >
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>
      Roles & Responsibilities
    </h1>
    <div class='flex gap-20 justify-center items-center mt-14'>
      <article class='flex flex-col items-center gap-4'>
        <img src={roleIllustrator} alt='Role illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>My Role</div>
          <div class='text-2xl'>Ux/Ui Designer</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-5'>
        <img
          class='w-[350px]'
          src={projectTimeIllustrator}
          alt='Project time illustrator'
        />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Project time</div>
          <div class='text-2xl'>September 2022</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-4'>
        <img src={toolsUsedIllustrator} alt='Tools used illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Tool used</div>
          <div class='text-2xl'>Figma</div>
        </div>
      </article>
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>Pain Points</h1>
    <div class='mt-14 px-24 grid grid-rows-2 grid-cols-2 gap-x-14 gap-y-10'>
      <PainPointCard
        n='01'
        content='ซื้อสกินแคร์ออนไลน์จาก หลายร้านทำให้ต้องเสียค่า ส่งหลายครั้ง'
        imgSrc={painPoint1}
      />
      <PainPointCard
        n='02'
        imgSrc={painPoint2}
        content='เลือกใช้สกินแคร์ไม่ตรงกับ สภาพผิวและปัญหาผิวที่มีทำให้รู้สึกไม่เห็นผล'
      />
      <PainPointCard
        n='03'
        imgSrc={painPoint3}
        content='เรียงลำดับการใช้สกินแคร์ ไม่ถูกต้อง ไม่รู้ว่าต้องใช้อะไร ก่อนหลัง'
      />
      <PainPointCard
        n='04'
        imgSrc={painPoint4}
        content='ใช้สกินแคร์ไม่สม่ำเสมอ ทำให้ไม่เห็นผลลัพธ์ที่ต่อเนื่อง'
      />
    </div>
  </section>

  <section class='mt-28'>
    <div class='grid grid-cols-2 px-24'>
      <div
        class='col-span-1 bg-iphoneMockup2 bg-transparent bg-no-repeat bg-contain bg-center'
      >
      </div>
      <div class='col-span-1'>
        <h1 class='text-orange font-semibold text-6xl text-center'>
          What is Skinique?
        </h1>

        <div
          class='py-10 px-16 mt-6 bg-white rounded-[54px] text-lg xl:text-2xl'
        >
          <ul class='app-definitions font-mitr'>
            <li>รวบรวมผลิตภัณฑ์บำรุงผิวต่างๆ ไว้ในแอพเดียว</li>
            <li>
              ช่วยให้คุณสามารถเลือก Skincare ให้ตรงกับสภาพผิวและปัญหาผิวต่างๆ
              ได้อย่างตรงจุด
            </li>
            <li>
              ช่วยคุณจัด Skincare Routine เรียงลำดับขั้นตอนการใช้ได้อย่างถูกต้อง
            </li>
            <li>
              บันทึกและติดตามผลลัพธ์การใช้งานในแต่ละวันช่วยให้
              เห็นถึงความเปลี่ยนแปลงของสภาพผิวอย่างต่อเนื่อง
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class='mt-28'>
    <div class='px-24'>
      <h1 class='text-orange font-semibold text-6xl text-center'>
        Design Process
      </h1>
      <div class='mt-14'>
        <div class='grid grid-cols-5 gap-x-2 gap-y-10'>
          <figure class='m-auto'>
            <img src={process1} alt='Process 1 Illustrator' />
          </figure>
          <figure class='m-auto'>
            <img src={process2} alt='Process 2 Illustrator' />
          </figure>
          <figure class='m-auto'>
            <img src={process3} alt='Process 3 Illustrator' />
          </figure>
          <figure class='m-auto'>
            <img src={process4} alt='Process 4 Illustrator' />
          </figure>
          <figure class='m-auto'>
            <img src={process5} alt='Process 5 Illustrator' />
          </figure>

          <Stepper />

          <DesignProcessCard
            step='01'
            title='Emphatize'
            caption='User Interview'
            className='bg-purple-100'
          />
          <DesignProcessCard
            step='02'
            title='Define'
            caption='User Persona, User Journey Map'
            className='bg-purple-200'
          />
          <DesignProcessCard
            step='03'
            title='Ideate'
            caption='User Flow'
            className='bg-purple-300'
          />
          <DesignProcessCard
            step='04'
            title='Prototype'
            caption='Wireframe'
            className='bg-purple-400'
          />
          <DesignProcessCard
            step='05'
            title='Design'
            caption='Desing System'
            className='bg-purple-500'
          />
        </div>
      </div>
    </div>
  </section>

  <section class='mt-28'>
    <div class='px-24'>
      <h1 class='text-orange font-semibold text-6xl text-left'>
        User Interview
      </h1>
      <div class='mt-14'>
        <InterviewTable />
      </div>
    </div>
  </section>

  <style>
    .app-definitions {
      list-style-type: '\2713';
    }

    .app-definitions li {
      text-indent: 10px;
    }

    .app-definitions li:not(:last-child) {
      margin-bottom: 2.25rem;
    }
  </style>
</Layout>
