---
import skiniqueLogo from '../../images/skinique-logo.png'
import Layout from '../../layouts/Layout.astro'
import roleIllustrator from '../../images/role-illus.svg'
import projectTimeIllustrator from '../../images/project-time-illus.svg'
import toolsUsedIllustrator from '../../images/tools-used-illus.svg'
import InterviewTable from '../../components/InterviewTable.astro'
import DesignProcess from '../../components/DesignProcess.astro'
import PainPoints from '../../components/PainPoints.astro'
import EmpathyMap from '../../components/EmpathyMap.astro'
import Persona from '../../components/Persona.astro'
import UserJourneyMap from '../../components/UserJourneyMap.astro'
import appMapImg from '../../images/app-map.png'
import wireFrameImg from '../../images/wire-frame.png'
import DesignSystem from '../../components/DesignSystem.astro'
import Section from '../../components/Section.astro'
import OverallDesign from '../../components/OverallDesign.astro'
import ResearchInfo from '../../components/ResearchInfo.astro'
import iphoneMockup2 from '../../images/iphone-mockup-2.svg'
---

<Layout title='Skinique - Project'>
  <section
    class='h-screen box-border w-full bg-purple-100 pt-10 px-14 grid grid-cols-4 max-sm:grid-cols-1 max-sm:h-auto'
  >
    <div class='flex flex-col text-orange col-span-2'>
      <img class='h-[108px] w-[108px]' src={skiniqueLogo} alt='Skinique logo' />
      <div class='mt-auto mb-20 max-sm:mt-20'>
        <h1 class='text-[128px] font-arima capitalize max-sm:text-6xl'>
          Skinique
        </h1>
        <p class='text-3xl max-sm:text-xl'>
          Create a skincare routine as unique as you.
        </p>
      </div>
    </div>
    <div
      class='col-span-2 bg-iphoneMockup bg-transparent bg-no-repeat bg-contain bg-bottom max-sm:hidden'
    >
    </div>
  </section>

  <Section>
    <h1 class='text-4xl text-center text-orange font-semibold'>
      Roles & Responsibilities
    </h1>
    <div class='my-14 flex gap-8 mx-sm:mx-0'>
      <h2 class='text-4xl text-orange font-semibold max-sm:text-2xl'>
        Overview
      </h2>
      <p class='font-mitr'>
        เนื่องจากปัจจุบันมีสกินแคร์ในท้องตลาดเป็นจำนวนมาก
        อีกทั้งยังเป็นเรื่องที่ค่อนข้างเฉพาะบุคคลเนื่องจากแต่ละคนมีปัญหาและสภาพผิวที่ไม่เหมือนกัน
        อาจทำให้ผู้ใช้เกิดความสับสนในการเลือกใช้สกินแคร์
        ดังนั้นการหาผลิตภัณฑ์ที่ใช่สำหรับตัวเอง จึงเป็นเรื่องสำคัญ
        จึงเป็นที่มาของ Skinique แอปพลิเคชัน e-commerce
        ที่รวบรวมสกินแคร์และผลิตภัณฑ์บำรุงผิวต่างๆ
        ที่ช่วยให้ผู้ใช้สามารถเลือกสกินแคร์ให้เหมาะกับผิวตัวเอง
        และเรียงลำดับการใชได้อย่างถูกต้อง
      </p>
    </div>
    <div class='flex max-sm:flex-col gap-20 justify-between items-center mt-14'>
      <article class='flex flex-col items-center gap-4'>
        <img src={roleIllustrator} alt='Role illustrator' />
        <div class='text-center w-full'>
          <div class='text-2xl font-semibold'>My Role</div>
          <div class='text-base'>Ux/Ui Designer</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-5'>
        <img
          class='w-[350px]'
          src={projectTimeIllustrator}
          alt='Project time illustrator'
        />
        <div class='text-center w-full'>
          <div class='text-2xl font-semibold'>Project time</div>
          <div class='text-base'>September 2022</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-4'>
        <img src={toolsUsedIllustrator} alt='Tools used illustrator' />
        <div class='text-center w-full'>
          <div class='text-2xl font-semibold'>Tool used</div>
          <div class='text-base'>Figma</div>
        </div>
      </article>
    </div>
  </Section>

  <Section>
    <h1 class='text-4xl text-center text-orange font-semibold'>
      Problem Statement
    </h1>
    <PainPoints />
  </Section>

  <Section>
    <div class='grid grid-cols-2 max-md:grid-cols-1'>
      <img
        src={iphoneMockup2}
        alt='Skinique Iphone mockup'
        class='col-span-1'
      />
      <div class='col-span-1 grid place-content-center'>
        <h1 class='text-orange font-semibold text-4xl text-center'>
          Project Goals
        </h1>

        <div class='py-10 px-16 mt-6 bg-white rounded-[54px]'>
          <ul class='app-definitions font-mitr'>
            <li class='mb-4'>รวบรวมผลิตภัณฑ์บำรุงผิวต่างๆ ไว้ในแอพเดียว</li>
            <li class='mb-4'>
              ช่วยให้คุณสามารถเลือก Skincare ให้ตรงกับสภาพผิวและปัญหาผิวต่างๆ
              ได้อย่างตรงจุด
            </li>
            <li class='mb-4'>
              ช่วยคุณจัด Skincare Routine เรียงลำดับขั้นตอนการใช้ได้อย่างถูกต้อง
            </li>
            <li>
              บันทึกและติดตามผลลัพธ์การใช้งานในแต่ละวันช่วยให้
              เห็นถึงความเปลี่ยนแปลงของสภาพผิวอย่างต่อเนื่อง
            </li>
          </ul>
        </div>
      </div>
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      Design Process
    </h1>
    <DesignProcess />
  </Section>

  <Section>
    <ResearchInfo />
  </Section>

  <Section className='max-md:hidden'>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      User Interview
    </h1>
    <div class='mt-14'>
      <p class='font-mitr text-center w-3/4 mx-auto'>
        ทำการสัมภาษณ์ตัวอย่างกลุ่มผู้ใช้งาน
        เพื่อทำความเข้าใจผู้ใช้ในเชิงลึกได้อย่างตรงจุดและรวดเร็ว <br />
        โดยเน้นคำถามเกี่ยวประสบการณ์การใช้สกินแคร์ ตั้งแต่สภาพผิวเบื้องต้น วิธีการเลือกซื้อไปจนถึงขั้นตอนการใช้ผลิตภัณฑ์
      </p>
    </div>
    <div class='mt-14'>
      <InterviewTable />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>Empathy map</h1>
    <div class='mt-14'>
      <p class='font-mitr text-center w-3/4 mx-auto'>
        เจาะลึกพฤติกรรมและทัศนคติขงผู้ใช้ด้วย Empathy Map <br />
        ผู้ใช้ส่วนใหญ่สับสนเกี่ยวกับตัวเลือกของผลิตภัณฑ์ที่มีเป็นจำนวนมาก และส่วนผสมของผลิตภัณฑ์
      </p>
    </div>
    <div class='mt-14'>
      <EmpathyMap />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>User Persona</h1>
    <div class='mt-14'>
      <p class='font-mitr text-center'>
        จากข้อมูลที่วิเคราะห์มาช่วยกำหนดกลุ่มเป้าหมาย
        โดยได้จัดทำตัวอย่างของกลุ่มเป้าหมายที่คาดว่ามีแนวโน้มในการใช้แอปพลิเคชันมากที่สุด
      </p>
    </div>
    <div class='mt-14'>
      <Persona />
    </div>
  </Section>

  <Section className='max-md:hidden'>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      User JourneyMap
    </h1>
    <div class='mt-14'>
      <p class='font-mitr text-center w-3/4 mx-auto'>
        ทำความเข้าใจการใช้งาน
        และทำความเข้าใจปัญหาที่เกิดขึ้นเพื่อค้นหาวิธีแก้ปัญหาให้ตรงจุด
      </p>
    </div>
    <div class='mt-14'>
      <UserJourneyMap />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>App Map</h1>
    <div class='mt-14'>
      <img class='w-full' src={appMapImg} alt='App map' />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      User Flow / Wireframe
    </h1>
    <div class='mt-14'>
      <img class='w-full' src={wireFrameImg} alt='User flow / Wireframe' />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      Design System
    </h1>
    <div class='mt-14'>
      <DesignSystem />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      Overall UI Design
    </h1>
    <div class='mt-14'>
      <OverallDesign />
    </div>
  </Section>

  <Section>
    <h1 class='text-orange font-semibold text-4xl text-center'>
      Try Prototype
    </h1>
    <div class='mt-14 text-center'>
      <a
        class='font-mitr text-blue-400 hover:underline'
        href='https://www.figma.com/proto/byKWFU2L3P2e47p6LQvnwW/Skincare-Routine-(ui)?node-id=30%3A1451&scaling=scale-down&page-id=0%3A1&starting-point-node-id=30%3A1451'
        target='_blank'>Click Here</a
      >
    </div>
  </Section>

  <style>
    .app-definitions {
      list-style-type: '\2713';
    }

    .app-definitions li {
      text-indent: 8px;
    }
  </style>
</Layout>
