---
import skiniqueLogo from '../../images/skinique-logo.png'
import Layout from '../../layouts/Layout.astro'
import roleIllustrator from '../../images/role-illus.svg'
import projectTimeIllustrator from '../../images/project-time-illus.svg'
import toolsUsedIllustrator from '../../images/tools-used-illus.svg'
import painPoint1 from '../../images/pain-point-1.png'
import painPoint2 from '../../images/pain-point-2.png'
import painPoint3 from '../../images/pain-point-3.png'
import painPoint4 from '../../images/pain-point-4.png'
---

<Layout title='Skinique - Project'>
  <section
    class='h-screen box-border w-full bg-purple pt-10 px-14 grid grid-cols-4'
  >
    <div class='flex flex-col text-orange col-span-2'>
      <img class='h-[108px] w-[108px]' src={skiniqueLogo} alt='Skinique logo' />
      <div class='mt-auto mb-20'>
        <h1 class='text-[128px] font-arima capitalize'>Skinique</h1>
        <p class='text-3xl'>Create a skincare routine as unique as you.</p>
      </div>
    </div>
    <div
      class='col-span-2 bg-iphoneMockup bg-transparent bg-no-repeat bg-contain bg-bottom'
    >
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>
      Roles & Responsibilities
    </h1>
    <div class='flex gap-20 justify-center items-center mt-14'>
      <article class='flex flex-col items-center gap-4'>
        <img src={roleIllustrator} alt='Role illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>My Role</div>
          <div class='text-2xl'>Ux/Ui Designer</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-5'>
        <img
          class='w-[350px]'
          src={projectTimeIllustrator}
          alt='Project time illustrator'
        />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Project time</div>
          <div class='text-2xl'>September 2022</div>
        </div>
      </article>
      <article class='flex flex-col items-center gap-4'>
        <img src={toolsUsedIllustrator} alt='Tools used illustrator' />
        <div class='text-center w-full'>
          <div class='text-3xl font-semibold'>Tool used</div>
          <div class='text-2xl'>Figma</div>
        </div>
      </article>
    </div>
  </section>

  <section class='mt-28'>
    <h1 class='text-6xl text-center text-orange font-semibold'>Pain Points</h1>
    <div class='mt-14 px-24 grid grid-rows-2 grid-cols-2 gap-x-14 gap-y-10'>
      <article class='py-4 px-5 xl:py-8 xl:px-9 rounded-[48px] bg-white'>
        <div class='grid grid-cols-2 gap-5'>
          <img class='col-span-1' src={painPoint1} alt='Pain point 1' />
          <div class='flex flex-col justify-between col-span-1'>
            <div
              class='p-2 bg-black text-white flex items-center justify-center rounded-[32px] h-8 w-16 xl:h-14 xl:w-28 box-border'
            >
              01
            </div>
            <p class='text-lg xl:text-2xl'>
              ซื้อสกินแคร์ออนไลน์จาก หลายร้านทำให้ต้องเสียค่า ส่งหลายครั้ง
            </p>
          </div>
        </div>
      </article>
      <article class='py-4 px-5 xl:py-8 xl:px-9 rounded-[48px] bg-white'>
        <div class='grid grid-cols-2 gap-10'>
          <img src={painPoint2} alt='Pain point 2' />
          <div class='flex flex-col justify-between col-span-1'>
            <div
              class='p-2 bg-black text-white flex items-center justify-center rounded-[32px] h-8 w-16 xl:h-14 xl:w-28 box-border'
            >
              02
            </div>
            <p class='text-lg xl:text-2xl'>
              เลือกใช้สกินแคร์ไม่ตรงกับ สภาพผิวและปัญหาผิวที่มี
              ทำให้รู้สึกไม่เห็นผล
            </p>
          </div>
        </div>
      </article>
      <article class='py-4 px-5 xl:py-8 xl:px-9 rounded-[48px] bg-white'>
        <div class='grid grid-cols-2 gap-10'>
          <img src={painPoint3} alt='Pain point 3' />
          <div class='flex flex-col justify-between col-span-1'>
            <div
              class='p-2 bg-black text-white flex items-center justify-center rounded-[32px] h-8 w-16 xl:h-14 xl:w-28 box-border'
            >
              03
            </div>
            <p class='text-lg xl:text-2xl'>
              เรียงลำดับการใช้สกินแคร์ ไม่ถูกต้อง ไม่รู้ว่าต้องใช้อะไร ก่อนหลัง
            </p>
          </div>
        </div>
      </article>
      <article class='py-4 px-5 xl:py-8 xl:px-9 rounded-[48px] bg-white'>
        <div class='grid grid-cols-2 gap-10'>
          <img src={painPoint4} alt='Pain point 4' />
          <div class='flex flex-col justify-between col-span-1'>
            <div
              class='p-2 bg-black text-white flex items-center justify-center rounded-[32px] h-8 w-16 xl:h-14 xl:w-28 box-border'
            >
              04
            </div>
            <p class='text-lg xl:text-2xl'>
              ใช้สกินแคร์ไม่สม่ำเสมอ ทำให้ไม่เห็นผลลัพธ์ที่ต่อเนื่อง
            </p>
          </div>
        </div>
      </article>
    </div>
  </section>

  <section class='mt-28'>
    <div class='grid grid-cols-2 h-[750px] px-24'>
      <div
        class='col-span-1 bg-iphoneMockup2 bg-transparent bg-no-repeat bg-contain'
      >
      </div>
      <div class='col-span-1'>
        <h1 class='text-orange font-semibold text-6xl text-center'>
          What is Skinique?
        </h1>

        <div
          class='py-10 px-16 mt-6 bg-white rounded-[54px] text-lg xl:text-2xl'
        >
          <ul class='app-definitions'>
            <li>รวบรวมผลิตภัณฑ์บำรุงผิวต่างๆ ไว้ในแอพเดียว</li>
            <li>
              ช่วยให้คุณสามารถเลือก Skincare ให้ตรงกับสภาพผิวและปัญหาผิวต่างๆ
              ได้อย่างตรงจุด
            </li>
            <li>
              ช่วยคุณจัด Skincare Routine เรียงลำดับขั้นตอนการใช้ได้อย่างถูกต้อง
            </li>
            <li>
              บันทึกและติดตามผลลัพธ์การใช้งานในแต่ละวันช่วยให้
              เห็นถึงความเปลี่ยนแปลงของสภาพผิวอย่างต่อเนื่อง
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .app-definitions {
    list-style-type: '\2713';
  }

  .app-definitions li {
    text-indent: 10px;
  }

  .app-definitions li:not(:last-child) {
    margin-bottom: 2.25rem;
  }
</style>
